/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 108, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

@charset "UTF-8";
/* Typography -------------------------------------------------------------- */
/* The following classes are for use with @extend. */
/* line 15, ../../../app/stylesheets/_defaults.scss */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 19, ../../../app/stylesheets/_defaults.scss */
.serif {
  font-family: Cambria, Georgia, serif;
}

/* line 22, ../../../app/stylesheets/_defaults.scss */
.sans, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 25, ../../../app/stylesheets/_defaults.scss */
.mono, pre, code, tt {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

/* line 28, ../../../app/stylesheets/_defaults.scss */
.caps, .allcaps, h1, h2, caption, .smallcaps, h4 {
  letter-spacing: 0.1em;
}

/* line 31, ../../../app/stylesheets/_defaults.scss */
.allcaps, h1, h2, caption {
  text-transform: uppercase;
}

/* line 35, ../../../app/stylesheets/_defaults.scss */
.smallcaps, h4 {
  font-variant: small-caps;
}

/* Body -------------------------------------------------------------- */
/* line 41, ../../../app/stylesheets/_defaults.scss */
body {
  color: #4c4c4c;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
/* line 54, ../../../app/stylesheets/_defaults.scss */
::-moz-selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* line 59, ../../../app/stylesheets/_defaults.scss */
::selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* Links -------------------------------------------------------------- */
/* line 66, ../../../app/stylesheets/_defaults.scss */
a {
  text-decoration: none;
}
/* line 69, ../../../app/stylesheets/_defaults.scss */
a:link, a:visited {
  color: #005498;
}
/* line 73, ../../../app/stylesheets/_defaults.scss */
a:link, a:visited, a:hover, a:active {
  outline: none;
}
/* line 77, ../../../app/stylesheets/_defaults.scss */
a:focus, a:hover, a:active {
  color: #984400;
  text-decoration: underline;
}
/* line 82, ../../../app/stylesheets/_defaults.scss */
a:focus {
  outline: thin dotted;
}

/* Headings -------------------------------------------------------------- */
/* line 89, ../../../app/stylesheets/_defaults.scss */
h2, h3, h4, h5, h6 {
  margin-bottom: 1.5em;
}

/* line 92, ../../../app/stylesheets/_defaults.scss */
h1 {
  font-size: 1.313em;
  line-height: 1.143em;
  margin-bottom: 1.143em;
}

/* line 99, ../../../app/stylesheets/_defaults.scss */
h3 {
  font-weight: bold;
}

/* line 102, ../../../app/stylesheets/_defaults.scss */
h4 {
  text-transform: lowercase;
}

/* line 106, ../../../app/stylesheets/_defaults.scss */
h5, h6 {
  font-style: italic;
}

/* Inline -------------------------------------------------------------- */
/* line 111, ../../../app/stylesheets/_defaults.scss */
cite, em, dfn, address, i {
  font-style: italic;
}

/* line 114, ../../../app/stylesheets/_defaults.scss */
strong, dfn, b {
  font-weight: bold;
}

/* line 117, ../../../app/stylesheets/_defaults.scss */
sup, sub {
  font-size: smaller;
  line-height: 0;
}

/* line 121, ../../../app/stylesheets/_defaults.scss */
sup {
  vertical-align: super;
}

/* line 124, ../../../app/stylesheets/_defaults.scss */
sub {
  vertical-align: sub;
}

/* line 127, ../../../app/stylesheets/_defaults.scss */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 131, ../../../app/stylesheets/_defaults.scss */
ins {
  text-decoration: underline;
}

/* line 134, ../../../app/stylesheets/_defaults.scss */
del {
  text-decoration: line-through;
}

/* line 137, ../../../app/stylesheets/_defaults.scss */
mark {
  background: #ffff99;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

/* line 142, ../../../app/stylesheets/_defaults.scss */
small {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 145, ../../../app/stylesheets/_defaults.scss */
q {
  font-style: italic;
}
/* line 147, ../../../app/stylesheets/_defaults.scss */
q em {
  font-style: normal;
}

/* Block -------------------------------------------------------------- */
/* line 155, ../../../app/stylesheets/_defaults.scss */
p {
  margin-bottom: 1.5em;
}

/* line 158, ../../../app/stylesheets/_defaults.scss */
pre {
  margin: 1.5em;
  white-space: pre;
  word-wrap: break-word;
}

/* line 163, ../../../app/stylesheets/_defaults.scss */
blockquote {
  margin: 1.5em;
  font-style: italic;
}

/* Replaced -------------------------------------------------------------- */
/* line 169, ../../../app/stylesheets/_defaults.scss */
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* Lists -------------------------------------------------------------- */
/* line 176, ../../../app/stylesheets/_defaults.scss */
ol, ul, dl {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
  list-style-position: outside;
}

/* line 182, ../../../app/stylesheets/_defaults.scss */
ol {
  list-style: decimal;
}

/* line 185, ../../../app/stylesheets/_defaults.scss */
ul {
  list-style: disc;
}
/* line 187, ../../../app/stylesheets/_defaults.scss */
li ul {
  list-style-type: circle;
}

/* line 190, ../../../app/stylesheets/_defaults.scss */
dt {
  margin-top: 1.5em;
  font-style: italic;
}

/* line 194, ../../../app/stylesheets/_defaults.scss */
dd {
  padding-left: 1.5em;
}

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
/* line 200, ../../../app/stylesheets/_defaults.scss */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 206, ../../../app/stylesheets/_defaults.scss */
table, td, th {
  vertical-align: top;
}

/* line 209, ../../../app/stylesheets/_defaults.scss */
th, thead th {
  font-weight: bold;
}

/* line 212, ../../../app/stylesheets/_defaults.scss */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 217, ../../../app/stylesheets/_defaults.scss */
table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}

/* line 220, ../../../app/stylesheets/_defaults.scss */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* Forms -------------------------------------------------------------- */
/* line 228, ../../../app/stylesheets/_defaults.scss */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 232, ../../../app/stylesheets/_defaults.scss */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}

/* line 236, ../../../app/stylesheets/_defaults.scss */
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 239, ../../../app/stylesheets/_defaults.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 242, ../../../app/stylesheets/_defaults.scss */
label {
  font-weight: bold;
}

/* line 247, ../../../app/stylesheets/_defaults.scss */
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  margin-bottom: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  border-color: #4c4c4c;
  height: 2.571em;
}

/* line 258, ../../../app/stylesheets/_defaults.scss */
textarea {
  height: 11.143em;
  vertical-align: text-bottom;
}

/* line 269, ../../../app/stylesheets/_defaults.scss */
input[type=search] {
  -webkit-appearance: none;
}
/* line 271, ../../../app/stylesheets/_defaults.scss */
input[type=search]::-webkit-search-decoration {
  display: none;
}

/* line 274, ../../../app/stylesheets/_defaults.scss */
button {
  width: auto;
  overflow: visible;
}

/* Print Defaults -------------------------------------------------------------- */
/* line 13, ../../../app/stylesheets/print.scss */
nav {
  display: none;
}

/* line 16, ../../../app/stylesheets/print.scss */
* {
  background: transparent !important;
  color: #444444 !important;
  float: none !important;
  text-shadow: none !important;
}

/* line 22, ../../../app/stylesheets/print.scss */
body {
  font-family: Cambria, Georgia, serif;
  font-size: 12pt;
  background: white;
  color: black;
}

/* line 29, ../../../app/stylesheets/print.scss */
a:link, a:visited {
  color: #444444 !important;
  text-decoration: underline;
}
/* line 32, ../../../app/stylesheets/print.scss */
a:after {
  content: " (" attr(href) ") ";
  font-size: smaller;
}

/* line 36, ../../../app/stylesheets/print.scss */
abbr:after {
  content: " (" attr(title) ")";
  font-size: smaller;
}

/* line 40, ../../../app/stylesheets/print.scss */
pre, blockquote, img {
  page-break-inside: avoid;
}

@page {
  margin: 0.5cm;
}

/* line 46, ../../../app/stylesheets/print.scss */
p, h2, h3 {
  orphans: 3;
  widows: 3;
}

/* line 50, ../../../app/stylesheets/print.scss */
h2, h3 {
  page-break-after: avoid;
}
