/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 108, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

@charset "UTF-8";
/* Typography -------------------------------------------------------------- */
/* The following classes are for use with @extend. */
/* line 15, ../../../app/stylesheets/_defaults.scss */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 19, ../../../app/stylesheets/_defaults.scss */
.serif {
  font-family: Cambria, Georgia, serif;
}

/* line 22, ../../../app/stylesheets/_defaults.scss */
.sans, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 25, ../../../app/stylesheets/_defaults.scss */
.mono, pre, code, tt {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

/* line 28, ../../../app/stylesheets/_defaults.scss */
.caps, .allcaps, h1, h2, caption, .smallcaps, h4 {
  letter-spacing: 0.1em;
}

/* line 31, ../../../app/stylesheets/_defaults.scss */
.allcaps, h1, h2, caption {
  text-transform: uppercase;
}

/* line 35, ../../../app/stylesheets/_defaults.scss */
.smallcaps, h4 {
  font-variant: small-caps;
}

/* Body -------------------------------------------------------------- */
/* line 41, ../../../app/stylesheets/_defaults.scss */
body {
  color: #4c4c4c;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
/* line 54, ../../../app/stylesheets/_defaults.scss */
::-moz-selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* line 59, ../../../app/stylesheets/_defaults.scss */
::selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* Links -------------------------------------------------------------- */
/* line 66, ../../../app/stylesheets/_defaults.scss */
a {
  text-decoration: none;
}
/* line 69, ../../../app/stylesheets/_defaults.scss */
a:link, a:visited {
  color: #005498;
}
/* line 73, ../../../app/stylesheets/_defaults.scss */
a:link, a:visited, a:hover, a:active {
  outline: none;
}
/* line 77, ../../../app/stylesheets/_defaults.scss */
a:focus, a:hover, a:active {
  color: #984400;
  text-decoration: underline;
}
/* line 82, ../../../app/stylesheets/_defaults.scss */
a:focus {
  outline: thin dotted;
}

/* Headings -------------------------------------------------------------- */
/* line 89, ../../../app/stylesheets/_defaults.scss */
h2, h3, h4, h5, h6 {
  margin-bottom: 1.5em;
}

/* line 92, ../../../app/stylesheets/_defaults.scss */
h1 {
  font-size: 1.313em;
  line-height: 1.143em;
  margin-bottom: 1.143em;
}

/* line 99, ../../../app/stylesheets/_defaults.scss */
h3 {
  font-weight: bold;
}

/* line 102, ../../../app/stylesheets/_defaults.scss */
h4 {
  text-transform: lowercase;
}

/* line 106, ../../../app/stylesheets/_defaults.scss */
h5, h6 {
  font-style: italic;
}

/* Inline -------------------------------------------------------------- */
/* line 111, ../../../app/stylesheets/_defaults.scss */
cite, em, dfn, address, i {
  font-style: italic;
}

/* line 114, ../../../app/stylesheets/_defaults.scss */
strong, dfn, b {
  font-weight: bold;
}

/* line 117, ../../../app/stylesheets/_defaults.scss */
sup, sub {
  font-size: smaller;
  line-height: 0;
}

/* line 121, ../../../app/stylesheets/_defaults.scss */
sup {
  vertical-align: super;
}

/* line 124, ../../../app/stylesheets/_defaults.scss */
sub {
  vertical-align: sub;
}

/* line 127, ../../../app/stylesheets/_defaults.scss */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 131, ../../../app/stylesheets/_defaults.scss */
ins {
  text-decoration: underline;
}

/* line 134, ../../../app/stylesheets/_defaults.scss */
del {
  text-decoration: line-through;
}

/* line 137, ../../../app/stylesheets/_defaults.scss */
mark {
  background: #ffff99;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

/* line 142, ../../../app/stylesheets/_defaults.scss */
small {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 145, ../../../app/stylesheets/_defaults.scss */
q {
  font-style: italic;
}
/* line 147, ../../../app/stylesheets/_defaults.scss */
q em {
  font-style: normal;
}

/* Block -------------------------------------------------------------- */
/* line 155, ../../../app/stylesheets/_defaults.scss */
p {
  margin-bottom: 1.5em;
}

/* line 158, ../../../app/stylesheets/_defaults.scss */
pre {
  margin: 1.5em;
  white-space: pre;
  word-wrap: break-word;
}

/* line 163, ../../../app/stylesheets/_defaults.scss */
blockquote {
  margin: 1.5em;
  font-style: italic;
}

/* Replaced -------------------------------------------------------------- */
/* line 169, ../../../app/stylesheets/_defaults.scss */
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* Lists -------------------------------------------------------------- */
/* line 176, ../../../app/stylesheets/_defaults.scss */
ol, ul, dl {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
  list-style-position: outside;
}

/* line 182, ../../../app/stylesheets/_defaults.scss */
ol {
  list-style: decimal;
}

/* line 185, ../../../app/stylesheets/_defaults.scss */
ul {
  list-style: disc;
}
/* line 187, ../../../app/stylesheets/_defaults.scss */
li ul {
  list-style-type: circle;
}

/* line 190, ../../../app/stylesheets/_defaults.scss */
dt {
  margin-top: 1.5em;
  font-style: italic;
}

/* line 194, ../../../app/stylesheets/_defaults.scss */
dd {
  padding-left: 1.5em;
}

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
/* line 200, ../../../app/stylesheets/_defaults.scss */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* line 206, ../../../app/stylesheets/_defaults.scss */
table, td, th {
  vertical-align: top;
}

/* line 209, ../../../app/stylesheets/_defaults.scss */
th, thead th {
  font-weight: bold;
}

/* line 212, ../../../app/stylesheets/_defaults.scss */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 217, ../../../app/stylesheets/_defaults.scss */
table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}

/* line 220, ../../../app/stylesheets/_defaults.scss */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* Forms -------------------------------------------------------------- */
/* line 228, ../../../app/stylesheets/_defaults.scss */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 232, ../../../app/stylesheets/_defaults.scss */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}

/* line 236, ../../../app/stylesheets/_defaults.scss */
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 239, ../../../app/stylesheets/_defaults.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 242, ../../../app/stylesheets/_defaults.scss */
label {
  font-weight: bold;
}

/* line 247, ../../../app/stylesheets/_defaults.scss */
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  margin-bottom: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  border-color: #4c4c4c;
  height: 2.571em;
}

/* line 258, ../../../app/stylesheets/_defaults.scss */
textarea {
  height: 11.143em;
  vertical-align: text-bottom;
}

/* line 269, ../../../app/stylesheets/_defaults.scss */
input[type=search] {
  -webkit-appearance: none;
}
/* line 271, ../../../app/stylesheets/_defaults.scss */
input[type=search]::-webkit-search-decoration {
  display: none;
}

/* line 274, ../../../app/stylesheets/_defaults.scss */
button {
  width: auto;
  overflow: visible;
}

/* Debugging rules */
/* line 3, ../../../app/stylesheets/_debug.scss */
.grid-control {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 50px;
  text-align: center;
}
/* line 11, ../../../app/stylesheets/_debug.scss */
.grid-control a {
  display: block;
  background: rgba(200, 200, 200, 0.5);
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -khtml-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 16, ../../../app/stylesheets/_debug.scss */
.grid-control a.hidden {
  display: none;
}

/* line 10, ../../../app/stylesheets/_mixins.scss */
.turkey {
  color: white;
  border: none;
}

/* line 23, ../../../app/stylesheets/_mixins.scss */
.chicken {
  text-align: left;
}

/* Layout -------------------------------------------------------------- */
/* line 29, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-susy-plugin-0.8.1/sass/susy/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 33, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-susy-plugin-0.8.1/sass/susy/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 15, ../../../app/stylesheets/screen.scss */
.container, #header-content, #main-content, #footer-content {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 61em;
  max-width: 100%;
}
/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after, #header-content:after, #main-content:after, #footer-content:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 17, ../../../app/stylesheets/screen.scss */
.container.show-grid, .show-grid#header-content, .show-grid#main-content, .show-grid#footer-content {
  background-image: url('/images/grid.png?1289456149');
  background-repeat: repeat;
  background-position: 1em 0;
}

/* Styles -------------------------------------------------------------- */
/* line 32, ../../../app/stylesheets/screen.scss */
#header-content {
  padding-top: 1.5em;
}
/* line 37, ../../../app/stylesheets/screen.scss */
#header-content #logo {
  display: inline;
  float: left;
  width: 55.738%;
  margin-right: 1.639%;
  margin-left: 1.639%;
}
/* line 42, ../../../app/stylesheets/screen.scss */
#header-content #logo h1 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/plate.jpg?1287985797');
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline;
  float: left;
  width: 41.176%;
  margin-right: 2.941%;
  height: 202px;
  margin-bottom: 0;
}
/* line 49, ../../../app/stylesheets/screen.scss */
#header-content #logo h2 {
  padding-top: 1.5em;
  display: inline;
  float: left;
  width: 55.882%;
  margin-right: 2.941%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 56, ../../../app/stylesheets/screen.scss */
#header-content .nav {
  display: inline;
  float: left;
  width: 31.148%;
  margin-right: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -1em;
  padding-right: 8.197%;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
/* line 64, ../../../app/stylesheets/screen.scss */
#header-content .nav > ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  *zoom: 1;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding-left: 0.75em;
  padding-right: 0.75em;
  vertical-align: top;
  background-color: #555555;
}
/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#header-content .nav > ul:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#header-content .nav > ul {
  *display: inline;
}
/* line 75, ../../../app/stylesheets/screen.scss */
#header-content .nav > ul > li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#header-content .nav > ul > li:first-child, #header-content .nav > ul > li.first {
  padding-left: 0;
}
/* line 46, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#header-content .nav > ul > li:last-child, #header-content .nav > ul > li.last {
  padding-right: 0;
}
/* line 80, ../../../app/stylesheets/screen.scss */
#header-content .nav > ul > li:hover > a, #header-content .nav > ul > li.clickdown.active > a {
  background-color: #626262;
  text-shadow: rgba(0, 0, 0, 0.85) 1px 1px 1px;
}
/* line 86, ../../../app/stylesheets/screen.scss */
#header-content .nav > ul > li a {
  display: block;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: white;
}
/* line 94, ../../../app/stylesheets/screen.scss */
#header-content .nav > ul > li a:hover, #header-content .nav > ul > li a:focus {
  text-decoration: none;
  outline: none;
}
/* line 101, ../../../app/stylesheets/screen.scss */
#header-content .nav > ul > li:not(.clickdown):hover ul {
  display: block;
}
/* line 112, ../../../app/stylesheets/screen.scss */
#header-content .nav > ul > li.dropdown:hover ul, #header-content .nav > ul > li.clickdown.active ul {
  display: block;
}
/* line 117, ../../../app/stylesheets/screen.scss */
#header-content .nav > ul > li:last-child ul {
  right: 0;
}
/* line 123, ../../../app/stylesheets/screen.scss */
#header-content .nav > ul > li.last ul {
  right: 0;
}
/* line 127, ../../../app/stylesheets/screen.scss */
#header-content .nav > ul > li ul {
  list-style: none;
  display: none;
  position: absolute;
  top: 100%;
  background-color: #6e6e6e;
  min-width: 8em;
  margin: -1px 0 0 0;
  border: 1px solid #555555;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -khtml-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -khtml-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
#header-content .nav > ul > li ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 138, ../../../app/stylesheets/screen.scss */
#header-content .nav > ul > li ul a:hover {
  background-color: #888888;
}

/* line 147, ../../../app/stylesheets/screen.scss */
#main-content {
  padding-top: 1.5em;
}
/* line 153, ../../../app/stylesheets/screen.scss */
#main-content.full-page #main {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
}
/* line 157, ../../../app/stylesheets/screen.scss */
#main-content.full-page #sidebar {
  display: none;
}
/* line 163, ../../../app/stylesheets/screen.scss */
#main-content.two-column #main {
  display: inline;
  float: left;
  width: 72.131%;
  margin-right: 1.639%;
  margin-left: 1.639%;
}
/* line 168, ../../../app/stylesheets/screen.scss */
#main-content.two-column #sidebar {
  display: inline;
  float: left;
  width: 22.951%;
  margin-right: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -1em;
}

/* line 175, ../../../app/stylesheets/screen.scss */
#footer-page {
  border-top: 2px solid #aaa;
}

/* line 179, ../../../app/stylesheets/screen.scss */
#footer-content {
  padding-top: 1.5em;
}
/* line 184, ../../../app/stylesheets/screen.scss */
#footer-content .links {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  overflow: hidden;
  *zoom: 1;
}
/* line 188, ../../../app/stylesheets/screen.scss */
#footer-content .links ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /* @include no-bullets; */
  display: inline;
  float: left;
  width: 32.203%;
  margin-right: 1.695%;
  /*
   * Include a &.last rule for IE browsers, since they do not support the :last-child selector
   *
   * IE8 has broken CSS parsing with multiple rules on the same line as :last-child, so we need
   * split them on separate lines. Totally lame.
   *
   * More here: http://www.richardscarrott.co.uk/posts/view/ie8-last-child-bug
  */
}
/* line 193, ../../../app/stylesheets/screen.scss */
#footer-content .links ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 208, ../../../app/stylesheets/screen.scss */
#footer-content .links ul:last-child {
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 212, ../../../app/stylesheets/screen.scss */
#footer-content .links ul.last {
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 218, ../../../app/stylesheets/screen.scss */
#footer-content span.copyright {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  margin-top: 1.5em;
  display: block;
  text-align: center;
}
