/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 108, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

/* Typography -------------------------------------------------------------- */
/* The following classes are for use with @extend. */
/* line 15, ../../../app/stylesheets/_defaults.scss */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 19, ../../../app/stylesheets/_defaults.scss */
.serif {
  font-family: Cambria, Georgia, serif;
}

/* line 22, ../../../app/stylesheets/_defaults.scss */
.sans, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 25, ../../../app/stylesheets/_defaults.scss */
.mono, pre, code, tt {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

/* line 28, ../../../app/stylesheets/_defaults.scss */
.caps, .allcaps, h1, h2, caption, .smallcaps, h4 {
  letter-spacing: 0.1em;
}

/* line 31, ../../../app/stylesheets/_defaults.scss */
.allcaps, h1, h2, caption {
  text-transform: uppercase;
}

/* line 35, ../../../app/stylesheets/_defaults.scss */
.smallcaps, h4 {
  font-variant: small-caps;
}

/* Body -------------------------------------------------------------- */
/* line 41, ../../../app/stylesheets/_defaults.scss */
body {
  color: #4c4c4c;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
/* line 54, ../../../app/stylesheets/_defaults.scss */
::-moz-selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* line 59, ../../../app/stylesheets/_defaults.scss */
::selection {
  color: white;
  background: #005498;
  text-shadow: none;
}

/* Links -------------------------------------------------------------- */
/* line 66, ../../../app/stylesheets/_defaults.scss */
a {
  text-decoration: none;
}
/* line 69, ../../../app/stylesheets/_defaults.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}
/* line 73, ../../../app/stylesheets/_defaults.scss */
a:link, a:visited {
  color: #005498;
}
/* line 77, ../../../app/stylesheets/_defaults.scss */
a:link, a:visited, a:hover, a:active {
  outline: none;
}
/* line 81, ../../../app/stylesheets/_defaults.scss */
a:focus, a:hover, a:active {
  color: #984400;
  text-decoration: underline;
}
/* line 86, ../../../app/stylesheets/_defaults.scss */
a:focus {
  outline: thin dotted;
}

/* Headings -------------------------------------------------------------- */
/* line 93, ../../../app/stylesheets/_defaults.scss */
h2, h3, h4, h5, h6 {
  margin-bottom: 1.5em;
}

/* line 96, ../../../app/stylesheets/_defaults.scss */
h1 {
  font-size: 1.313em;
  line-height: 1.143em;
  margin-bottom: 1.143em;
}

/* line 103, ../../../app/stylesheets/_defaults.scss */
h3 {
  font-weight: bold;
}

/* line 106, ../../../app/stylesheets/_defaults.scss */
h4 {
  text-transform: lowercase;
}

/* line 110, ../../../app/stylesheets/_defaults.scss */
h5, h6 {
  font-style: italic;
}

/* Inline -------------------------------------------------------------- */
/* line 115, ../../../app/stylesheets/_defaults.scss */
cite, em, dfn, address, i {
  font-style: italic;
}

/* line 118, ../../../app/stylesheets/_defaults.scss */
strong, dfn, b {
  font-weight: bold;
}

/* line 121, ../../../app/stylesheets/_defaults.scss */
sup, sub {
  font-size: smaller;
  line-height: 0;
}

/* line 125, ../../../app/stylesheets/_defaults.scss */
sup {
  vertical-align: super;
}

/* line 128, ../../../app/stylesheets/_defaults.scss */
sub {
  vertical-align: sub;
}

/* line 131, ../../../app/stylesheets/_defaults.scss */
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 135, ../../../app/stylesheets/_defaults.scss */
ins {
  text-decoration: underline;
}

/* line 138, ../../../app/stylesheets/_defaults.scss */
del {
  text-decoration: line-through;
}

/* line 141, ../../../app/stylesheets/_defaults.scss */
mark {
  background: #ffff99;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

/* line 146, ../../../app/stylesheets/_defaults.scss */
small {
  font-size: 0.75em;
  line-height: 2em;
}

/* line 149, ../../../app/stylesheets/_defaults.scss */
q {
  font-style: italic;
}
/* line 151, ../../../app/stylesheets/_defaults.scss */
q em {
  font-style: normal;
}

/* Block -------------------------------------------------------------- */
/* line 159, ../../../app/stylesheets/_defaults.scss */
p {
  margin-bottom: 1.5em;
}

/* line 162, ../../../app/stylesheets/_defaults.scss */
pre {
  margin: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 168, ../../../app/stylesheets/_defaults.scss */
blockquote {
  margin: 1.5em;
  font-style: italic;
}

/* Replaced -------------------------------------------------------------- */
/* line 174, ../../../app/stylesheets/_defaults.scss */
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* Lists -------------------------------------------------------------- */
/* line 181, ../../../app/stylesheets/_defaults.scss */
ol, ul, dl {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
  list-style-position: outside;
}

/* line 187, ../../../app/stylesheets/_defaults.scss */
ol {
  list-style: decimal;
}

/* line 190, ../../../app/stylesheets/_defaults.scss */
ul {
  list-style: disc;
}
/* line 192, ../../../app/stylesheets/_defaults.scss */
li ul {
  list-style-type: circle;
}

/* line 195, ../../../app/stylesheets/_defaults.scss */
dt {
  margin-top: 1.5em;
  font-style: italic;
}

/* line 199, ../../../app/stylesheets/_defaults.scss */
dd {
  padding-left: 1.5em;
}

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
/* line 205, ../../../app/stylesheets/_defaults.scss */
table {
  margin-bottom: 1.5em;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 211, ../../../app/stylesheets/_defaults.scss */
table, td, th {
  vertical-align: top;
}

/* line 214, ../../../app/stylesheets/_defaults.scss */
th, thead th {
  font-weight: bold;
}

/* line 217, ../../../app/stylesheets/_defaults.scss */
th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

/* line 222, ../../../app/stylesheets/_defaults.scss */
table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 0.688em;
}

/* line 225, ../../../app/stylesheets/_defaults.scss */
tfoot {
  font-size: 0.875em;
  line-height: 1.714em;
}

/* Forms -------------------------------------------------------------- */
/* line 233, ../../../app/stylesheets/_defaults.scss */
fieldset {
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
}

/* line 237, ../../../app/stylesheets/_defaults.scss */
legend {
  font-size: 1.125em;
  line-height: 1.333em;
  font-weight: bold;
}
/* line 241, ../../../app/stylesheets/_defaults.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 246, ../../../app/stylesheets/_defaults.scss */
input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 249, ../../../app/stylesheets/_defaults.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 252, ../../../app/stylesheets/_defaults.scss */
label {
  font-weight: bold;
}

/* line 257, ../../../app/stylesheets/_defaults.scss */
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  margin-bottom: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  border-color: #4c4c4c;
  height: 2.571em;
}

/* line 268, ../../../app/stylesheets/_defaults.scss */
textarea {
  overflow: auto;
  height: 11.143em;
  vertical-align: text-bottom;
}

/* line 280, ../../../app/stylesheets/_defaults.scss */
input[type=search] {
  -webkit-appearance: none;
}
/* line 282, ../../../app/stylesheets/_defaults.scss */
input[type=search]::-webkit-search-decoration {
  display: none;
}

/* line 289, ../../../app/stylesheets/_defaults.scss */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red 0;
  -webkit-box-shadow: 0px 0px 5px red 0;
  -o-box-shadow: 0px 0px 5px red 0;
  box-shadow: 0px 0px 5px red 0;
}
/* line 292, ../../../app/stylesheets/_defaults.scss */
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 298, ../../../app/stylesheets/_defaults.scss */
button {
  width: auto;
  overflow: visible;
}

/* Debugging rules */
/* line 3, ../../../app/stylesheets/_debug.scss */
.grid-control {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 50px;
  text-align: center;
}
/* line 11, ../../../app/stylesheets/_debug.scss */
.grid-control a {
  display: block;
  background: rgba(200, 200, 200, 0.5);
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -khtml-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 16, ../../../app/stylesheets/_debug.scss */
.grid-control a.hidden {
  display: none;
}

/*** GENERAL MIXINS ***/
/*** APP MIXINS ***/
/* line 29, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-susy-plugin-0.8.1/sass/susy/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 33, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-susy-plugin-0.8.1/sass/susy/_vertical_rhythm.scss */
html > body {
  font-size: 16px;
}

/* line 3, ../../../app/stylesheets/_structure.scss */
.container, #dialog-container {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 61em;
  max-width: 100%;
  padding-top: 1.5em;
}
/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after, #dialog-container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 7, ../../../app/stylesheets/_structure.scss */
.container.show-grid, .show-grid#dialog-container {
  background-image: url('/images/grid.png?1289456149');
  background-repeat: repeat;
  background-position: 1em 0;
}
/* line 16, ../../../app/stylesheets/_structure.scss */
.container.full-page .primary, .full-page#dialog-container .primary {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
}
/* line 20, ../../../app/stylesheets/_structure.scss */
.container.full-page .sidebar, .full-page#dialog-container .sidebar {
  display: none;
}
/* line 26, ../../../app/stylesheets/_structure.scss */
.container.two-column .primary, .two-column#dialog-container .primary {
  display: inline;
  float: left;
  width: 72.131%;
  margin-right: 1.639%;
  margin-left: 1.639%;
}
/* line 31, ../../../app/stylesheets/_structure.scss */
.container.two-column .sidebar, .two-column#dialog-container .sidebar {
  display: inline;
  float: left;
  width: 22.951%;
  margin-right: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -1em;
}

/* line 38, ../../../app/stylesheets/_structure.scss */
.logo {
  display: inline;
  float: left;
  width: 55.738%;
  margin-right: 1.639%;
  margin-left: 1.639%;
}
/* line 43, ../../../app/stylesheets/_structure.scss */
.logo h1 {
  display: inline;
  float: left;
  width: 41.176%;
  margin-right: 2.941%;
}
/* line 47, ../../../app/stylesheets/_structure.scss */
.logo h2 {
  padding-top: 1.5em;
  display: inline;
  float: left;
  width: 55.882%;
  margin-right: 2.941%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}

/* line 1, ../../../app/stylesheets/_forms.scss */
fieldset {
  margin-bottom: 0.75em;
  padding: 0;
  border: none;
}
/* line 6, ../../../app/stylesheets/_forms.scss */
fieldset p {
  margin-bottom: 0;
}

/* line 12, ../../../app/stylesheets/_forms.scss */
fieldset.actions > span {
  display: inline;
  float: right;
}

/* Styles -------------------------------------------------------------- */
/* line 19, ../../../app/stylesheets/screen.scss */
.logo h1 {
  margin-bottom: 0;
}
/* line 21, ../../../app/stylesheets/screen.scss */
.logo h1 a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/plate.jpg?1287985797');
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  height: 202px;
}

/* line 29, ../../../app/stylesheets/screen.scss */
.nav-menu {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  *zoom: 1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background-color: #667777;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.nav-menu:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 58, ../../../app/stylesheets/_mixins.scss */
.nav-menu > li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.nav-menu > li:first-child, .nav-menu > li.first {
  padding-left: 0;
}
/* line 46, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.nav-menu > li:last-child, .nav-menu > li.last {
  padding-right: 0;
}
/* line 63, ../../../app/stylesheets/_mixins.scss */
.nav-menu > li:not(.clickdown):hover ul {
  display: block;
}
/* line 68, ../../../app/stylesheets/_mixins.scss */
.nav-menu > li:not(.clickdown) a:focus + ul {
  display: block;
}
/* line 80, ../../../app/stylesheets/_mixins.scss */
.nav-menu > li.dropdown:hover ul, .nav-menu > li.clickdown.active ul {
  display: block;
}
/* line 85, ../../../app/stylesheets/_mixins.scss */
.nav-menu > li:last-child ul {
  right: 0;
}
/* line 91, ../../../app/stylesheets/_mixins.scss */
.nav-menu > li.last ul {
  right: 0;
}
/* line 95, ../../../app/stylesheets/_mixins.scss */
.nav-menu > li ul {
  list-style: none;
  display: none;
  position: absolute;
  top: 100%;
  margin: 0;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
.nav-menu > li ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 117, ../../../app/stylesheets/_mixins.scss */
.nav-menu > li:hover > a, .nav-menu > li:focus > a, .nav-menu > li.clickdown.active > a {
  background-color: #728585;
  text-shadow: rgba(0, 0, 0, 0.85) 1px 1px 1px;
}
/* line 123, ../../../app/stylesheets/_mixins.scss */
.nav-menu > li a {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: block;
  color: white;
}
/* line 131, ../../../app/stylesheets/_mixins.scss */
.nav-menu > li a:hover, .nav-menu > li a:focus {
  text-decoration: none;
  outline: none;
}
/* line 137, ../../../app/stylesheets/_mixins.scss */
.nav-menu > li ul {
  background-color: #7f9191;
  min-width: 8em;
  margin: -1px 0 0 0;
  border: 1px solid #667777;
  z-index: 100;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -khtml-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -khtml-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 145, ../../../app/stylesheets/_mixins.scss */
.nav-menu > li ul a:hover, .nav-menu > li ul a:focus {
  background-color: #9aa9a9;
}

/* line 33, ../../../app/stylesheets/screen.scss */
.inline-nav-menu {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  *zoom: 1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background-color: #555555;
  padding-left: 0.75em;
  padding-right: 0.75em;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: top;
}
/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.inline-nav-menu:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 58, ../../../app/stylesheets/_mixins.scss */
.inline-nav-menu > li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.inline-nav-menu > li:first-child, .inline-nav-menu > li.first {
  padding-left: 0;
}
/* line 46, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.inline-nav-menu > li:last-child, .inline-nav-menu > li.last {
  padding-right: 0;
}
/* line 63, ../../../app/stylesheets/_mixins.scss */
.inline-nav-menu > li:not(.clickdown):hover ul {
  display: block;
}
/* line 68, ../../../app/stylesheets/_mixins.scss */
.inline-nav-menu > li:not(.clickdown) a:focus + ul {
  display: block;
}
/* line 80, ../../../app/stylesheets/_mixins.scss */
.inline-nav-menu > li.dropdown:hover ul, .inline-nav-menu > li.clickdown.active ul {
  display: block;
}
/* line 85, ../../../app/stylesheets/_mixins.scss */
.inline-nav-menu > li:last-child ul {
  right: 0;
}
/* line 91, ../../../app/stylesheets/_mixins.scss */
.inline-nav-menu > li.last ul {
  right: 0;
}
/* line 95, ../../../app/stylesheets/_mixins.scss */
.inline-nav-menu > li ul {
  list-style: none;
  display: none;
  position: absolute;
  top: 100%;
  margin: 0;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
.inline-nav-menu > li ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 117, ../../../app/stylesheets/_mixins.scss */
.inline-nav-menu > li:hover > a, .inline-nav-menu > li:focus > a, .inline-nav-menu > li.clickdown.active > a {
  background-color: #626262;
  text-shadow: rgba(0, 0, 0, 0.85) 1px 1px 1px;
}
/* line 123, ../../../app/stylesheets/_mixins.scss */
.inline-nav-menu > li a {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: block;
  color: white;
}
/* line 131, ../../../app/stylesheets/_mixins.scss */
.inline-nav-menu > li a:hover, .inline-nav-menu > li a:focus {
  text-decoration: none;
  outline: none;
}
/* line 137, ../../../app/stylesheets/_mixins.scss */
.inline-nav-menu > li ul {
  background-color: #6e6e6e;
  min-width: 8em;
  margin: -1px 0 0 0;
  border: 1px solid #555555;
  z-index: 100;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -khtml-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -khtml-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 145, ../../../app/stylesheets/_mixins.scss */
.inline-nav-menu > li ul a:hover, .inline-nav-menu > li ul a:focus {
  background-color: #888888;
}
/* line 7, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.inline-nav-menu {
  *display: inline;
}

/* line 39, ../../../app/stylesheets/screen.scss */
#top-nav {
  display: inline;
  float: left;
  width: 39.344%;
  margin-right: 1.639%;
  display: inline;
  float: right;
  margin-right: 1.639%;
  #margin-left: -1em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/* line 47, ../../../app/stylesheets/screen.scss */
#bar-nav {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

/* line 53, ../../../app/stylesheets/screen.scss */
#sidebar-content {
  -moz-box-shadow: #555555 1px 1px 5px 0;
  -webkit-box-shadow: #555555 1px 1px 5px 0;
  -o-box-shadow: #555555 1px 1px 5px 0;
  box-shadow: #555555 1px 1px 5px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #555555;
  padding: 1em;
  min-height: 300px;
}

/* line 61, ../../../app/stylesheets/screen.scss */
#footer-page {
  border-top: 2px solid #aaa;
}

/* line 66, ../../../app/stylesheets/screen.scss */
footer .links {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  overflow: hidden;
  *zoom: 1;
}
/* line 70, ../../../app/stylesheets/screen.scss */
footer .links ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /* @include no-bullets; */
  display: inline;
  float: left;
  width: 32.203%;
  margin-right: 1.695%;
  /*
   * Include a &.last rule for IE browsers, since they do not support the :last-child selector
   *
   * IE8 has broken CSS parsing with multiple rules on the same line as :last-child, so we need
   * split them on separate lines. Totally lame.
   *
   * More here: http://www.richardscarrott.co.uk/posts/view/ie8-last-child-bug
  */
}
/* line 75, ../../../app/stylesheets/screen.scss */
footer .links ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 90, ../../../app/stylesheets/screen.scss */
footer .links ul:last-child {
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 94, ../../../app/stylesheets/screen.scss */
footer .links ul.last {
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
/* line 100, ../../../app/stylesheets/screen.scss */
footer span.copyright {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  margin-top: 1.5em;
  display: block;
  text-align: center;
}

/* line 115, ../../../app/stylesheets/screen.scss */
.dialog-box, .small-dialog-box {
  padding-top: 7.5em;
}

/* line 119, ../../../app/stylesheets/screen.scss */
.small-dialog-box {
  clear: both;
  margin-right: 1.639%;
  margin-left: 1.639%;
  padding-left: 24.59%;
  padding-right: 24.59%;
}

/* line 126, ../../../app/stylesheets/screen.scss */
body.dialog {
  background-color: #ddd;
}

/* line 130, ../../../app/stylesheets/screen.scss */
section.dialog {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #444;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  background-color: white;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

@media handheld, only screen and (max-width: 767px) {
  /* line 2, ../../../app/stylesheets/_mobile.scss */
  .container, #dialog-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  /* line 7, ../../../app/stylesheets/_mobile.scss */
  header #logo {
    float: none;
    display: block;
    width: auto;
    width: -moz-available;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1em;
    margin-right: 1em;
  }
  /* line 11, ../../../app/stylesheets/_mobile.scss */
  header #logo h1, header #logo h2 {
    float: none;
    display: block;
    width: auto;
    width: -moz-available;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 15, ../../../app/stylesheets/_mobile.scss */
  header #logo h1 a {
    background-position: 50% 0;
  }
  /* line 19, ../../../app/stylesheets/_mobile.scss */
  header #logo h2 {
    text-align: center;
  }
  /* line 24, ../../../app/stylesheets/_mobile.scss */
  header #top-nav {
    float: none;
    display: block;
    width: auto;
    width: -moz-available;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
  }
  /* line 27, ../../../app/stylesheets/_mobile.scss */
  header #top-nav ul {
    text-align: left;
  }
  /* line 33, ../../../app/stylesheets/_mobile.scss */
  header #bar-nav {
    float: none;
    display: block;
    width: auto;
    width: -moz-available;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1em;
    margin-right: 1em;
  }

  /* line 40, ../../../app/stylesheets/_mobile.scss */
  #main-content.full-page #main, #main-content.two-column #main {
    float: none;
    display: block;
    width: auto;
    width: -moz-available;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1em;
    margin-right: 1em;
  }
  /* line 44, ../../../app/stylesheets/_mobile.scss */
  #main-content.full-page #sidebar, #main-content.two-column #sidebar {
    display: none;
  }
}
