<h1>Front Page</h1>

<p>Welcome to the front page. Here's a paragraph holding a bottle of Old Spice Body Wash. On a horse.</p>

<p><%= image_tag "old-spice-man.png" %></p>

<h2>Links of Interest</h2>

<ol>
  <li><%= link_to "A Large Page Of Markup", front_markup_path %> - Various html tags are displayed for styling</li>
  <li><%= link_to "A Big Bad Form", front_form_path %> - What does a form look like with every input control available?</li>
</ol>

<h2>And just for filler...</h2>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis velit ligula. Donec congue elit et nibh aliquet commodo. Quisque diam est, tincidunt a mattis in, lacinia in mauris. Maecenas adipiscing sollicitudin ante, sit amet scelerisque orci rutrum id. Integer ac ultricies orci. Sed vel justo leo. Praesent quis eros leo. Quisque ornare faucibus sapien, nec scelerisque orci sagittis nec. Nullam laoreet, dui nec placerat gravida, tellus eros bibendum dolor, vitae fermentum ligula elit a ligula. Nulla nec enim et arcu cursus tincidunt.
</p>
