<h1>Header 1</h1>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis velit ligula. Donec congue elit et nibh aliquet commodo. Quisque diam est, tincidunt a mattis in, lacinia in mauris. Maecenas adipiscing sollicitudin ante, sit amet scelerisque orci rutrum id. Integer ac ultricies orci. Sed vel justo leo. Praesent quis eros leo. Quisque ornare faucibus sapien, nec scelerisque orci sagittis nec. Nullam laoreet, dui nec placerat gravida, tellus eros bibendum dolor, vitae fermentum ligula elit a ligula. Nulla nec enim et arcu cursus tincidunt.
</p>

<p>
Donec massa felis, blandit ac porttitor ut, interdum suscipit nisl. Praesent id turpis a purus luctus semper quis sed augue. Quisque metus arcu, venenatis vel tincidunt eu, porttitor eget lacus. Donec aliquet accumsan lorem, ut tempor magna tempor in. Integer commodo, dui id luctus condimentum, mi nisl tincidunt justo, eu laoreet felis diam luctus purus. Ut ac urna at nisi porttitor consectetur eu vitae tortor. Mauris non quam nisi, eget iaculis felis. Cras nec mi magna, ac pellentesque tellus. Ut nisl velit, iaculis eu lobortis ac, bibendum nec nisl. Nullam eu urna quis dolor tempus vehicula. Donec vitae libero sed nisi consequat elementum nec sit amet urna. Aliquam aliquet porttitor nisi, vitae tincidunt lectus iaculis sed. Nam pharetra mauris sit amet diam vehicula eu vestibulum quam tincidunt. Nam tempor rutrum nunc, non tempor dolor porttitor vitae. 
</p>

<h2>Header 2</h2>

<ul>
  <li>UL item 1</li>
  <li>UL item 2</li>
  <li>UL item 3</li>
</ul>

<p>
Here is a paragraph with a few <%= link_to "links", "#" %>. There's one <%= link_to "here", "#" %> and another one for <%= link_to "Ruby on Rails", "http://rubyonrails.org" %>. Here is some <strong>strong text</strong> along with some <b>b-tag action</b>. Now we'll do <em>emphasized text</em> and even some <em><strong>strong emphasized text</strong></em>. Now some <sup>sup action</sup> followed by <sub>sub action</sub>.
</p>

<p>
Here's the #fun main loop:
<code>
  for (int i = 0; i < MAX_FUN; i++) {
    rave_it_up();
    feel_down();
    feel_flat();
    plan_next_event();
  }
</code>
</p>

<p>
Here it is again as a block:
<p>

<pre>
for (int i = 0; i < MAX_FUN; i++) {
  rave_it_up();
  feel_down();
  feel_flat();
  plan_next_event();
}
</pre>

<ol>
  <li>OL item 1 with a <tt>term</tt></li>
  <li>OL item 2</li>
  <li>OL item 3</li>
</ol>

<h3>Header 3</h3>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis velit ligula. Donec congue elit et nibh aliquet commodo. Quisque diam est, tincidunt a mattis in, lacinia in mauris. Maecenas adipiscing sollicitudin ante, sit amet scelerisque orci rutrum id. Integer ac ultricies orci. Sed vel justo leo. Praesent quis eros leo. Quisque ornare faucibus sapien, nec scelerisque orci sagittis nec. Nullam laoreet, dui nec placerat gravida, tellus eros bibendum dolor, vitae fermentum ligula elit a ligula. Nulla nec enim et arcu cursus tincidunt.
</p>

<blockquote>
BLOCKQUOTE: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis velit ligula. Donec congue elit et nibh aliquet commodo. Quisque diam est, tincidunt a mattis in, lacinia in mauris. Maecenas adipiscing sollicitudin ante, sit amet scelerisque orci rutrum id. Integer ac ultricies orci. Sed vel justo leo. Praesent quis eros leo. Quisque ornare faucibus sapien, nec scelerisque orci sagittis nec. Nullam laoreet, dui nec placerat gravida, tellus eros bibendum dolor, vitae fermentum ligula elit a ligula. Nulla nec enim et arcu cursus tincidunt. 
</blockquote>

<dl>
  <dt>Definition list</dt>
  <dd>A list that I never use.</dd>

  <dt>HAML</dt>
  <dd>A template language I never use because it's WEIRD.</dd>

  <dt>SASS</dt>
  <dd>A template language that I USE THE SHIT OUT OF (preposition at).</dd>
</dl>

<h4>Header 4</h4>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis velit ligula. Donec congue elit et nibh aliquet commodo. Quisque diam est, tincidunt a mattis in, lacinia in mauris. Maecenas adipiscing sollicitudin ante, sit amet scelerisque orci rutrum id. Integer ac ultricies orci. Sed vel justo leo. Praesent quis eros leo. Quisque ornare faucibus sapien, nec scelerisque orci sagittis nec. Nullam laoreet, dui nec placerat gravida, tellus eros bibendum dolor, vitae fermentum ligula elit a ligula. Nulla nec enim et arcu cursus tincidunt.
</p>

<h5>Header 5</h5>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis velit ligula. Donec congue elit et nibh aliquet commodo. Quisque diam est, tincidunt a mattis in, lacinia in mauris. Maecenas adipiscing sollicitudin ante, sit amet scelerisque orci rutrum id. Integer ac ultricies orci. Sed vel justo leo. Praesent quis eros leo. Quisque ornare faucibus sapien, nec scelerisque orci sagittis nec. Nullam laoreet, dui nec placerat gravida, tellus eros bibendum dolor, vitae fermentum ligula elit a ligula. Nulla nec enim et arcu cursus tincidunt.
</p>

<h6>Header 6</h6>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis velit ligula. Donec congue elit et nibh aliquet commodo. Quisque diam est, tincidunt a mattis in, lacinia in mauris. Maecenas adipiscing sollicitudin ante, sit amet scelerisque orci rutrum id. Integer ac ultricies orci. Sed vel justo leo. Praesent quis eros leo. Quisque ornare faucibus sapien, nec scelerisque orci sagittis nec. Nullam laoreet, dui nec placerat gravida, tellus eros bibendum dolor, vitae fermentum ligula elit a ligula. Nulla nec enim et arcu cursus tincidunt.
</p>

<p>Now for some tables</p>

<table cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>HEADER 1</th>
      <th>HEADER 2</th>
      <th>HEADER 3</th>
    </tr>
  </thead>
  <tr>
    <td>CELL 1 1</td>
    <td>CELL 1 2</td>
    <td>CELL 1 3</td>
  </tr>
  <tr>
    <td colspan="2">SPANAGE!</td>
    <td>CELL 2 3</td>
  </tr>
  <tr>
    <td rowspan="2">RAGGED!</td>
    <td>CELL 3 2</td>
    <td>CELL 3 3</td>
  </tr>
</table>
