/* Debugging rules */

.grid-control {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 50px;
  text-align: center;

  a {
    display: block;
    background: rgba(200, 200, 200, 0.5);
    @include border-bottom-radius(10px);

    &.hidden {
      display: none;
    }
  }
}
