@media handheld, only screen and (max-width: 767px) {
  .container {
    @include mobile-container;
  }

  header {
    #logo {
      @include mobile-column;
      //@include columns(6);
      //@include alpha;
      h1, h2 {
        @include mobile-column(6);
      }

      h1 a {
        background-position: 50% 0;
      }

      h2 {
        text-align: center;
      }
    }

    #top-nav {
      @include mobile-column;
      text-align: center;
      ul {
        text-align: left;
      }
      //@include columns(7);
    }

    #bar-nav {
      @include mobile-column;
    }
  }

  #main-content {
    &.full-page, &.two-column {
      #main {
        @include mobile-column;
      }

      #sidebar {
        display: none;
      }
    }
  }

}
