//** SCREEN STYLES **//

// Imports --------------------------------------------------------------

@import "defaults";
@import "debug";
@import "mixins";

@import "structure";
@import "forms";


/* Styles -------------------------------------------------------------- */

$menu-color: #555;

// has structure
.logo {
  h1 {
    margin-bottom: 0;
    a {
      @include replace-text("plate.jpg", 0, 0);
      display: block;
      height: image-height("plate.jpg");
    }
  }
}

.nav-menu {
  @include dark-nav(#677);
}

.inline-nav-menu {
  @include dark-nav;
  @include inline-block;
  vertical-align: top;
}

#top-nav {
  @include columns(5);
  @include omega;

  @include leader(0.5);
  @include trailer(0.5);
}

#bar-nav {
  @include full;
  @include padding-leader(0.5);
  @include padding-trailer(0.5);
}

#sidebar-content {
  @include box-shadow($menu-color);
  @include border-radius;
  border: 1px solid $menu-color;
  padding: 1em;
  min-height: 300px;
}

#footer-page {
  border-top: 2px solid #aaa;
}

footer {
  .links {
    @include full;
    @include clearfix;

    ul {
      @include reset-box-model;
      /* @include no-bullets; */
      @include columns(4,12);

      li {
        @include no-bullet;
      }

      &:first-child, &.first {
      }

      /*
       * Include a &.last rule for IE browsers, since they do not support the :last-child selector
       *
       * IE8 has broken CSS parsing with multiple rules on the same line as :last-child, so we need
       * split them on separate lines. Totally lame.
       *
       * More here: http://www.richardscarrott.co.uk/posts/view/ie8-last-child-bug
      */
      &:last-child {
        @include omega(12);
      }

      &.last {
        @include omega(12);
      }
    }
  }

  span.copyright {
    @include full;
    @include leader;
    display: block;
    text-align: center;
  }
}

#dialog-page {
}

#dialog-container {
  @extend .container;
}

.dialog-box {
  @include padding-leader(5);
}

.small-dialog-box {
  @extend .dialog-box;
  @include full;
  @include prefix(3);
  @include suffix(3);
}

body.dialog {
  background-color: #ddd;
}

section.dialog {
  @include border-radius;
  border: 1px solid #444;
  @include padding-leader(0.5);
  @include padding-trailer(0.5);
  background-color: white;
  padding: {
    left: 0.75em;
    right: 0.75em;
  }
}

@import "mobile";
